@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

.icon-search:hover .icon-search-child{
  stroke: black;
}
.custom-select--reverse{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.custom-select--reverse .icon-dropdown{
 transform: rotate(180deg);
}